<div class = "container">
    <h1><%= title %></h1>
    <img src="./content/images/myPicture.png" alt="my picture" width="250" height="250"> 
   <p> My name is Salina Sapkota. I am a third semester Software Engineering Technology-AI student at Centennial College, Toronto, ON. <br>
    I was born and raised in Kathmandu,Nepal. I did my highschool from VS Niketan College, Nepal and migrated to Canada in January 2022,<br>
     to pursue my further education. Other than programming and designing i also love cooking, painting and exploring new places and cultures.<br>
   <a href="./content/Resume.pdf">Resume</a>
     </div>