<div class = "container">
    <h1><%= title %></h1>
    <h2>Welcome to Salina's Personal Portfolio</h2>
    <p> Hi there, Thankyou for dropping by my webpage to know about me. <br> 
        You can <a href="http://localhost:2000/about">click here</a> if u are interested to know more about me.<br>
        <br>
        <strong>Mission</strong> <br>
        A Software Engineering student passionate and highly motivated to lifelong learning about programming and designing and capable of fulfilling contemporary requirements. <br>
        I am willing to work as a software developer supporting and creating innovative plans.<br>
        </p>
</div>