<div class = "container">
    <h1><%= title %></h1>
    <img src="./content/images/project1.png" alt="my picture" width="350" height="350" float="right"> 
    <p>This is a group project where i along with my group members designed a software that would alert the users if their using online websites found to be fradaulent or untrustworthy.
        The users can download our app and login with the required credentials then they will be redirected to a page where the software will ask them for the url of the website whose
         authentication they want to check on and releases the authentication of that particular website on a percentage basis.
    </p>
    <img src="./content/images/project2.png" alt="my picture" width="350" height="350" float="right"> <br>
    <p>This a web page for a real state worker which includes different navigation site that allows user to know more about the respective person. I built this web page as an assignment during my first semester.
        This website has a contact page where users can fill up the form and when they submit the form it directly sends and email to the associated person with everything that user has filled in the form.
    </p>
    <img src="./content/images/project3.png" alt="my picture" width="350" height="350" floate="right"> <br>
    <p>This is a web page for a weather forecast that i did as a assignment during my second semester where i have developed an website which allows user to enter the city name and displays the weather of that particular city.</p>
    <br>
    <br>
    <br>
    <br>
    <br>
    
</div>