<div class = "container">
    <h1><%= title %></h1>
            <ol>
                <li>Proficient in Unix/Linux, JAVA, C#, Oracle SQL Server, HTML, Python</li>
                   <li> Experienced in web designing and different kinds of software applications development
                    for academic projects</li>
                   <li> Detail-Oriented, flexible, energetic individual with critical thinking skills</li>
                   <li> Multilingual in English, Hindi, and Nepali; with effective co</li>mmunication skills to support
                    clients and customers and provide technical support to coworkers
                   <li>Database development</li>
            </ol>
</div>